$mainBackground: url(../img/4.jpg);
$mainFontColor: #e3e1e1;
$tourFirstBackground: url(../img/5.jpeg);
$tourSecondBackground: url(../img/6.jpg);
$tourThirdBackground: url(../img/7.jpg);
$tourFontColor: #812064;
$reviewsBackgroundColor: #6d4158;
$reviewBackgroundColor: #a9659b;
$searchBackgroundColor: #bd97b4;
$searchTextColor: #500739;
$footerBackgroundColor: #710296;
$footerFirstFontColor: #130017;
$footerSecondFontColor: #f765f0;
$footerBtnColor: #38014c;
$headerFont: 'Hind', sans-serif;