$mainBackground: url(../img/0.jpg);
$mainFontColor: #e3e1e1;
$tourFirstBackground: url(../img/1.jpg);
$tourSecondBackground: url(../img/2.jpg);
$tourThirdBackground: url(../img/3.jpg);
$tourFontColor: #707072;
$reviewsBackgroundColor: #6d4158;
$reviewBackgroundColor: #b3a0af;
$searchBackgroundColor: #9b9e9a;
$searchTextColor: #bcb7ba;
$footerBackgroundColor: #4c44bd;
$footerFirstFontColor: #030133;
$footerSecondFontColor: #6587f7;
$footerBtnColor: #04014c;
$headerFont: 'Hind', sans-serif;